body {
  background-color: rgb(228, 177, 205); /*Yay! Making my background a pretty pink. */
  font-family: 'Cedarville Cursive'; /*Originally all of my words were in this font, but you couldn't tell if it was bolded or emphasized with it so I changed it to helvetica */
  font-size: 22px;  /*Default font size for paragraphs and what not */
}
/*I am just going to make one comment for the following code, because it would be very repetitive
I changed the font to helvetica, and I changed the font size to increase from smallest to largest in the respective
order of p, h3, h2, h1. And I changed the anchored link color to a purple. I think that is all that is required for this. */
p {
  font: helvetica;
}
h3 {
  font-size: 23px;
  font: helvetica;
}
h2 {
  font-size: 24px;
  font: helvetica
}
h1 {
  font-size: 25px;
}
a {
  color: #ff66cc;
}
td {
border: 5px solid black;
width: 100px;
height: 100px;
font-size: 80px;
text-align: center;
font-family: sans;
}
#turn {
font-weight: bold;
text-transform: capitalize;
text-align: center;
font-size: 16pt;
background-color: #777777;
width: 340px;
}
td:nth-child(1) {
  border-left: none;
}
td:nth-child(3) {
  border-right: none;
}
tr:nth-child(1) > td {
  border-top: none;
}
tr:nth-child(3) > td {
  border-bottom: none;
}
/* To make images circle and a certain size is everything below. I needed it a little different for the two different photos.
Again some elements are for responsiveness, so it works for most devices well. */
.circlexa {
  border-radius: 50%;
}


.circlexa {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-top: 60px;
}

.circlexb {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-top: 60px;
  width: 100%;
  height: auto;
}

/*  These are just making my buttons pretty, the right size and what not. The hover element
just changes the color and shadow of the button when the user hovers over it. */
#submithome {
  background-color: rgb(128, 211, 170);
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
}

#submithome:hover {
  border: none;
  background: rgb(255, 200, 21);
  box-shadow: 0px 0px 1px #777;
}
#submitresume {
  background-color: rgb(128, 211, 170);
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
}

#submitresume:hover {
  border: none;
  background: rgb(255, 200, 21);
  box-shadow: 0px 0px 1px #777;
}
#submitpersonal {
  background-color: rgb(128, 211, 170);
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
}

#submitpersonal:hover {
  border: none;
  background: rgb(255, 200, 21);
  box-shadow: 0px 0px 1px #777;
}
#submitresume {
  background-color: rgb(128, 211, 170);
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
}

#submitresume:hover {
  border: none;
  background: rgb(255, 200, 21);
  box-shadow: 0px 0px 1px #777;
}
#submitcontact {
  background-color: rgb(128, 211, 170);
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
}

#submitcontact:hover {
  border: none;
  background: rgb(255, 200, 21);
  box-shadow: 0px 0px 1px #777;
}
#submitportfolio {
  background-color: rgb(128, 211, 170);
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
}

#submitportfolio:hover {
  border: none;
  background: rgb(255, 200, 21);
  box-shadow: 0px 0px 1px #777;
}
/* Just a little more in how the buttons are seperated */
div button {
  display: inline-block;
}

/*.homebutton {
  float: left;
}

.resumebutton {
  float: right;
}*/

* {
  box-sizing: border-box;
}
/* The following is stuff I used other resources for to make my website more user frienly, responsive or pretty. None is relevant to this assignment. */
/* Style inputs for the contact section */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.btn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.btn:hover {opacity: 0.6}
